.main {
  margin: auto;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.casesNTests, .deaths, .percentViralTests, .rtLiveCodeFigs {
  margin: auto;
  width: 800px;
  flex-wrap: wrap;
  display: flex;
}

.caseImage {
  width: 80px;
}

.case {
  margin: 4px;
  display: flex;
  flex-direction: column;
}